<h1>{{title}}</h1>

<form id="productForm">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" required>
    
    <label for="description">Descripción:</label>
    <input type="text" id="description" name="description" required>
    
    <label for="code">Código:</label>
    <input type="text" id="code" name="code" required>
    
    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" required>
    
    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" required>
    
    <label for="category">Categoría:</label>
    <input type="text" id="category" name="category" required>
    
    <label for="thumbnails">Thumbnails:</label>
    <input type="text" id="thumbnails" name="thumbnails">

    <button type="submit">Agregar Producto</button>
</form>
<form action="/" method="get" style="display: inline;">
    <button type="submit">Home</button>
</form>
<h2>Productos Actuales:</h2>
<ul id="productList">
    {{#each products}}
        <li>
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <p>Precio: ${{this.price}}</p>
            <p>Categoría: {{this.category}}</p>
            <button onclick="deleteProduct('{{this._id}}')">Eliminar</button>
        </li>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    const productForm = document.getElementById('productForm');
    const productList = document.getElementById('productList');

    productForm.addEventListener('submit', (e) => {
        e.preventDefault();

        const newProduct = {
            title: productForm.title.value,
            description: productForm.description.value,
            code: productForm.code.value,
            price: productForm.price.value,
            stock: productForm.stock.value,
            category: productForm.category.value,
            thumbnails: productForm.thumbnails.value.split(','),
        };

        socket.emit('newProduct', newProduct);

        productForm.reset();
    });

    socket.on('products', (products) => {
        productList.innerHTML = '';
        products.forEach(product => {
            const li = document.createElement('li');
            li.innerHTML = `
                <h3>${product.title}</h3>
                <p>${product.description}</p>
                <p>Precio: $${product.price}</p>
                <p>Categoría: ${product.category}</p>
                <button onclick="deleteProduct('${product._id}')">Eliminar</button>
            `;
            productList.appendChild(li);
        });
    });

    function deleteProduct(productId) {
        socket.emit('deleteProduct', productId);
    }
</script>
